@using Terminapp.Models

@model Terminapp.Models.VacationRequest

@{
ViewData["Title"] = "Slett ferieforespørsel";
}

<h2>@ViewData["Title"]</h2>

<h3>Er du sikker på at du vil slette denne forespørselen?</h3>
<div>
    <h4>Ferieforespørsel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Ansatt</dt>
        <dd class="col-sm-10">@Model.Employee.EmployeeName</dd>

        <dt class="col-sm-2">Startdato</dt>
        <dd class="col-sm-10">@Model.StartDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Sluttdato</dt>
        <dd class="col-sm-10">@Model.EndDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="VacationId" />
        <input type="submit" value="Slett" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
    </form>
</div>
